* {
    padding: 0;
    margin: 0;
}

html, body {
    height:100%;
    width:100%;
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran';
    font-weight: 800;
}

p {
    font-size: 20px;
}


/*

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: pink;
}*/

a{
    color: white;
}

a:hover {
    color: pink;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  /*background-color: #bd0760 !important;
  border-color: #bd0760 !important;*/
  background-color: pink !important;
  border-color: pink !important;
}

.rounded-pill {
  border-radius: 5rem;
}



.bg-black {
    background-color: black;
}

.bg-black h1,
.bg-black h2,
.bg-black h3,
.bg-black h4,
.bg-black h5,
.bg-black h6,
.bg-black p {
    color: white;
}

.bg-white {
    background-color: white;
}

.bg-white h1,
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5,
.bg-white h6,
.bg-white p {
    color: black;
}

.bg-pink {
  background-color:#ee0979;
}

.bg-pink h1,
.bg-pink h2,
.bg-pink h3,
.bg-pink h4,
.bg-pink h5,
.bg-pink h6,
.bg-pink p {
    color: white;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.row-section {
    padding-top: 40px;
    padding-bottom: 40px;
}


#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav a:hover {
  color: pink;
  text-decoration: underline;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: pink;
  }
}

.full-width {
    width: 100%;
    /*font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.main-heading{
    color: white;
    font-size: 65px;
    letter-spacing: 5px;
}

.small-heading{
    color: white;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.carousel-caption {
    position: absolute;
    /*top: 0;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 50%;

    bottom: 0;
}

.link-caption {
    height: 100% !important;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /*-o-background-size: cover;*/
}

.carousel,
.carousel-inner {
    width:100%;
    height:100%;
    z-index:0;
    overflow:hidden;
    display: block;
    transition: none;
}

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.overlay{
    display: block;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


@media(max-width: 768px) {
    .main-heading {
        font-size: 45px;
    }

    .small-heading {
        font-size: 15px;
    }
}

.carousel-caption i {
    font-size: 50px;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    40% {
        -webkit-transform: translateY(5px);
        -ms-transform:     translateY(5px);
        transform:         translateY(5px)
    }
    60% {
        -webkit-transform: translateY(5px);
        -ms-transform:     translateY(5px);
        transform:         translateY(5px)
    }
}
.bounce-wrapper i {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.bounce-wrapper i:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
  color: pink;
}



.nopadding .item {
    position: relative;
    overflow: hidden;
}

.image-link {
    max-width: 100%;
    transition: transform .5s;
}

.image-link:hover{
    transform: scale(1.2);
}

.about-bg {
    position: relative;
    min-height: 320px;
    background-size: cover;
}

.about p {
    font-size: 15px;
}

.about img {
    max-width: 300px;
    padding: 30px;
}

.performance-clips h4{
    margin:0;
    padding:0;
}

.embed-responsive {
    padding-bottom: 30px;
}

.gallery .container {
    padding: 30px;

    border-radius: 25px;
}

.gallery {
    padding: 30px;
}

.gal {


    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;


    }
    .gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {

        .gal {


    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;


    }

  }

  .quote {
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 40px;
  }

  .image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.image-box:hover img {
    transform: scale(1.1);
}
